<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      UDEMY COURSE
    </ion-title>
    <ion-icon class="cart-icon" slot="end" name="cart" (click)="openLoading()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="../../assets/banner.jpg" alt="" style="display: block;">

    <h1>ion-grid</h1>
    
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="3" (click)="openPage()">
          <ion-icon name="cart"></ion-icon>
        </ion-col>
        <ion-col size="3" (click)="openToast()">
          <ion-icon name="bicycle"></ion-icon>
        </ion-col>
        <ion-col size="3" (click)="openToast()">
          <ion-icon name="tennisball"></ion-icon>
        </ion-col>
        <ion-col size="3" (click)="openPage()">
          <ion-icon name="medal"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h1>ion-list</h1>

    <ion-list>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://png.pngtree.com/png-vector/20230502/ourmid/pngtree-vector-jersey-png-image_6741993.png" />
        </ion-thumbnail>
        <ion-label>
          <h2>Camiseta</h2>
          <p>Descripción del producto</p>
          <ion-badge color="primary">$154</ion-badge>
        </ion-label>
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://w7.pngwing.com/pngs/722/1001/png-transparent-shoe-converse-sneakers-canvas-shoes-cdr-white-painted.png" />
        </ion-thumbnail>
        <ion-label>
          <h2>Tennis</h2>
          <p>Descripción del producto</p>
          <ion-badge color="primary">$12</ion-badge>
        </ion-label>
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQl_yvWUvVdzYXhP1uFP0NRQW0knE__AEyeITh1xuD5YOyugbu2MlXhDlDcBs4xL_DsMrU&usqp=CAU" />
        </ion-thumbnail>
        <ion-label>
          <h2>Sudadera</h2>
          <p>Descripción del producto</p>
          <ion-badge color="primary">$5</ion-badge>
        </ion-label>
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://img.freepik.com/vector-premium/balon-futbol_602838-1041.jpg?w=2000" />
        </ion-thumbnail>
        <ion-label>
          <h2>Balón</h2>
          <p>Descripción del producto</p>
          <ion-badge color="primary">$40</ion-badge>
        </ion-label>
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://cdn-icons-png.flaticon.com/512/3698/3698250.png" />
        </ion-thumbnail>
        <ion-label>
          <h2>Smartwatch</h2>
          <p>Descripción del producto</p>
          <ion-badge color="primary">$540</ion-badge>
        </ion-label>
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-item>
    </ion-list>

    <h1>ion-card</h1>

    <ion-card>
      <ion-card-header>
        <ion-card-title>App IONIC</ion-card-title>
        <ion-card-subtitle>Desarrollado por Juan Camilo Herrera</ion-card-subtitle>
      </ion-card-header>
      
      <ion-card-content>
        © 2023 Todos los derechos reservados
      </ion-card-content>
      <img alt="Silhouette of mountains" src="https://static.vecteezy.com/system/resources/previews/026/867/202/non_2x/blue-wave-footer-free-png.png" />
    </ion-card>
  </div>

</ion-content>
