#container {
  border: 0px solid red;
}

ion-icon {
  font-size: 22px;
}

.cart-icon {
  margin-right: 30px;
  cursor: pointer;
}

ion-toolbar {
  text-align: center;
}

img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

ion-col {
  border: 1px solid;
  text-align: center;
  cursor: pointer;
  ion-icon {
    font-size: 36px;
  }
}

ion-badge {
  padding: 4px 10px;
}

ion-list {
  padding: 30px;
}

ion-item {
  --border-color: red;
}
